@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/typography";
@import "base/base";

@import "components/project-box.scss";

@import "layout/grid.scss";
@import "layout/header.scss";
@import "layout/about.scss";
@import "layout/footer.scss";
@import "layout/responsive.scss";

