/* Footer Section */
  
footer {
    padding: 0;
    text-align: center;
    margin: 0;
    height: 100vh;
    position: relative;
  }
  
  footer a {
    color: #00a699;
    font-size: 3rem;
    padding: 20px;
    transition: all .5s ease;
  }
  footer a:hover {
    color: #00a699;
    opacity: 0.3;
  }
  
  footer a.pin:hover {
    opacity: 1;
  }
  
  .pixelsurf {
    *zoom: 1;
    width: auto;
    max-width: 100%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
    min-height: 700px;
    background-image: url("../img/projects/teahupoo.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
  }
  
  .surf {
    padding-top: 15vh;
    background:transparent;
    color: #00a699;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 900;
    text-rendering: optimizelegibility;
    z-index: 50;
    text-align: center;
    position: relative;
  }
  
  footer a.pin {
    width: 30px;
    height: 56px;
    display: block;
    top: calc(35% - 21px);
    left: calc(67% - 11px);
    background-image: url("../img/projects/map-pin.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
  }