.box1 {
    display: flex;
    flex: 1;
    background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #0082c8, #05c7e6, #4bd58d);
    background-size: 1200% 1200%;
    -webkit-animation: dboxRainbow 30s ease infinite;
    -moz-animation: dboxRainbow 30s ease infinite;
    -o-animation: dboxRainbow 30s ease infinite;
    animation: dboxRainbow 30s ease infinite;
    -webkit-font-smoothing: subpixel-antialiased;

}

.box1::before {
  content: '';
  display: block;
  height: 0;
  padding-top: 591.44px / 1127.34px * 100%; //0.52463320737

  @include respond (hires-desktop) {
    padding-top: 52.462%;
  }

  @include respond(desktop) {
  padding-top: 52.442%;
  }

  @include respond(tab-land) {
    padding-top: 52.452%;
  }

  

  // @include respond(big-desktop) {
  //   padding-top: 52.452%;
  // }
}

#headroom {
  height: 70px;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-color: #40474d;
  padding-left: 4%;
  padding-right: 4%;
  transition: all .25s ease-in-out;
  backface-visibility: hidden;
  z-index: 100;
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

#headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
#headroom--pinned {
  transform: translateY(0%);
}
#headroom--unpinned {
  transform: translateY(-100%);
}
    
nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 3rem .5rem 0 0;

  // @include respond(tab-port) {
  //   padding: 7rem .5rem 0 0; 
  // }

  // @include respond(phone) {
  //   padding: 3rem .5rem 0 0; 
  // }
}
  nav ul li {
    padding: 0 2rem 0 0;
  }
  
  nav ul li a {
    padding: 1rem 1rem;
    color: white;
    transition: all 0.5s ease;
  }
  
  nav ul li a:hover {
    background: rgba(255,255,255,.3);
    transition: all 0.5s ease;
  }

  .hero-btn {
    transition: color 0.5s ease;
  }
  
  .hero-btn:hover {
    color: rgba(0,0,0,0.5);
    transition: color 0.5s ease;
    background: none;
  }