.box1 {
    display: flex;
    flex: 1;
    background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #0082c8, #05c7e6, #4bd58d);
    background-size: 1200% 1200%;
    -webkit-animation: dboxRainbow 30s ease infinite;
    -moz-animation: dboxRainbow 30s ease infinite;
    -o-animation: dboxRainbow 30s ease infinite;
    animation: dboxRainbow 30s ease infinite;
    -webkit-font-smoothing: subpixel-antialiased;

}

.box1::before {
  content: '';
  display: block;
  height: 0;
  padding-top: 591.44px / 1127.34px * 100%; //0.52463320737

  @include respond (hires-desktop) {
    padding-top: 52.462%;
  }

  @include respond(desktop) {
  padding-top: 52.442%;
  }

  @include respond(tab-land) {
    padding-top: 52.452%;
  }

  // @include respond(big-desktop) {
  //   padding-top: 52.452%;
  // }
}

  .hero-btn {
    transition: color 0.5s ease;
  }
  
  .hero-btn:hover {
    color: rgba(0,0,0,0.5);
    transition: color 0.5s ease;
    background: none;
  }