/* Box Hover Image Animation */

.project {
    background-size: 100% 100%;
    background-position: center center;
  }
  
  .inner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .inner-content a.project {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 transparent;
    color: #fff;
    border: 0 solid;
    position: relative;
  }
  
  @media only screen and (min-width: 400px) {
    .inner-content a.project {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
    }
  }
  /* sets easing for project inner border */
  .inner-content a.project .overlay {
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 1;
  }
  @media only screen and (max-width: 600px) {
    .inner-content a.project .overlay {
      background: -webkit-linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,0.5));
      background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,0.5));
    }
  }
  .inner-content a.project .copy {
    z-index: 2;
  }
  .inner-content a.project span {
    display: block;
    font-weight: 500;
    font-size: 2.1vw;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.02em;
  }
  @media only screen and (min-width: 1699px) {
    .inner-content a.project span {
      font-size: 2.0625rem;
    }
  }
  @media only screen and (min-width: 400px) {
    .inner-content a.project span {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
  }
  @media only screen and (max-width: 600px) {
    .inner-content a.project span {
      opacity: 1;
      font-size: 2rem !important;
      position: absolute;
      bottom: 1.5625rem;
      left: 1.625rem;
      z-index: 6;

    }
  }
  
  /* :after span with border bottom and transition fade out hr rule  */
  .inner-content a.project span:after {
    *zoom: 1;
    width: auto;
    max-width: 10px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    content: '';
    border-bottom: 1px solid rgba(255,255,255,0);
    -webkit-transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
    margin-top: 8px;
  }
  .inner-content a.project span:after:before,
  .inner-content a.project span:after:after {
    content: '';
    display: table;
  }
  .inner-content a.project span:after:after {
    clear: both;
  }
  
  /* sets opacity and transition easing for em */
  .inner-content a.project em {
    opacity: 0;
    display: block;
    font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1.1vw;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }
  @media only screen and (min-width: 800px) {
    .inner-content a.project em {
      font-size: 1.5rem;
    }
  }
  @media only screen and (min-width: 600px) {
    .inner-content a.project:hover {
      background-size: 110% 110%;
      border-bottom: none;
    }
    /* overlay color */
    .inner-content a.project:hover .overlay {
      background: rgba(0,0,0,0.65);
      box-shadow: inset 0 0 0 1vw;
    }
    /* hover span moves text up with fading in bottom rule */
    .inner-content a.project:hover span {
      opacity: 1;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-font-smoothing: subpixel-antialiased;
    }
    /* hover span:after sets color for span rule */
    .inner-content a.project:hover span:after {
      *zoom: 1;
      width: auto;
      max-width: 100px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      content: '';
      border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    .inner-content a.project:hover span:after:before,
    .inner-content a.project:hover span:after:after {
      content: '';
      display: table;
    }
    .inner-content a.project:hover span:after:after {
      clear: both;
    }
  
    /* sets fade in destination for em */
    .inner-content a.project:hover em {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  /* inner project border */
  @media only screen and (min-width: 800px) {
    .inner-content a.project:hover .overlay {
      box-shadow: inset 0 0 0 1.375rem;
    }
  }
  @media only screen and (max-width: 600px) {
    .inner-content a.project span {
      font-size: 8vw;
    }
    .inner-content a.project em {
      font-size: 4vw;
    }
  }

  /* Colours for each box */
.box1 { background:#1abc9c;}
.box2 { background:#3498db;}
.box3 { background:#9b59b6;}
.box4 { background:#34495e;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#e74c3c;}
.box8 { background:#bdc3c7;}
.box9 { background:#2ecc71;}
.box10 { background:#16a085;}
.box11 { background:#1abc9c;}
.box12 { background:#3498db;}
.box13 { background:#9b59b6;}
.box14 { background:#34495e;}
.box15 { background:#f1c40f;}

  
  /* Border Overlay Colors */

.box1 .inner-content a.project .overlay { color:#1abc9c;}
.box2 .inner-content a.project .overlay { color:#3498db;}
.box3 .inner-content a.project .overlay { color:#9b59b6;}
.box4 .inner-content a.project .overlay { color:#34495e;}
.box5 .inner-content a.project .overlay { color:#f1c40f;}
.box6 .inner-content a.project .overlay { color:#e67e22;}
.box7 .inner-content a.project .overlay { color:#e74c3c;}
.box8 .inner-content a.project .overlay { color:#bdc3c7;}
.box9 .inner-content a.project .overlay { color:#2ecc71;}
.box10 .inner-content a.project .overlay { color:#16a085;}
.box11 .inner-content a.project .overlay { color:#1abc9c;}
.box12 .inner-content a.project .overlay { color:#3498db;}
.box13 .inner-content a.project .overlay { color:#9b59b6;}
.box14 .inner-content a.project .overlay { color:#34495e;}
.box15 .inner-content a.project .overlay { color:#f1c40f;}
.box16 .inner-content a.project .overlay { color:#1abc9c;}
.box17 .inner-content a.project .overlay { color:#3498db;}

/* Grid Images */

.travel {
  background-image: url('../img/projects/hero-small.jpg');
}

.hvp {
  background-image: url('../img/projects/html5-player.png');
}

.wam {
  background-image: url('../img/projects/whack-a-mole.png');
}

.cafe {
  background-image: url('../img/projects/cafetography.png');
}

.pat {
  background-image: url('../img/projects/patatap.png');
}

.webcam {
  background-image: url('../img/projects/unreal-webcam.jpg');
}

.countdown {
  background-image: url('../img/projects/countdown-timer.png');
}

.random {
  background-image: url('../img/projects/random-user-generator.png');
}

.speech {
  background-image: url('../img/projects/speech-recognition.png');
}

.voice {
  background-image: url('../img/projects/voicenator.png');
}

.yelp {
  background-image: url('../img/projects/yelp-camp.png');
}

.painter {
  background-image: url('../img/projects/painter.png');
}

.todo {
  background-image: url('../img/projects/todo-list.png');
}

.adv {
  background-image: url('../img/projects/marketing-page.png');
}

.color {
  background-image: url('../img/projects/color-game.png');
}

.nat {
  background-image: url('../img/projects/natours.png');
}

.pig {
  background-image: url('../img/projects/pig-dice.png');
}

.bud {
  background-image: url('../img/projects/budgety.png');
}

.sma {
  background-image: url('../img/projects/smart-brain.png');
}
