/* Animations */

@-webkit-keyframes dboxRainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes dboxRainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes dboxRainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes dboxRainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


.fade-in-up {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fade-in-up {
  -webkit-animation-name: fade-in-up;
          animation-name: fade-in-up;
}

@-webkit-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
//   100% {
//     opacity: 1;
//     -webkit-transform: translateY(0);
//             transform: translateY(0);
//   }
}

footer a.pin {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

.smooth-scroll {
    animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 fade-in-up;
  }


//   .main-headline:first-of-type {    
// animation: showup 7s forwards;
// animation-iteration-count: 1;
// }

// .main-headline:last-of-type {
// width:0px;
// animation: reveal 7s forwards;
// animation-iteration-count: 1;
// }

.main-headline:last-of-type span {
margin-left:-355px;
animation: slidein 7s forwards;
animation-iteration-count: 1;
}

// @keyframes showup {
// 0% {opacity:0;}
// 20% {opacity:1;}
// 80% {opacity:1;}
// 100% {opacity:1;}
// }

@keyframes slidein {
0% { margin-left:-800px; opacity:0;}
20% { margin-left:-800px; }
35% { margin-left:0px; }
100% { margin-left:0px; opacity:1;}
}

// @keyframes reveal {
// 0% {opacity:0;width:0px;}
// 20% {opacity:1;width:0px;}
// 30% {width:80%;}
// 80% {opacity:1;}
// 100% {opacity:1;width:90%;}
// }


  
  

