.main-headline {
  font-family: "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: -0.035em;
  text-rendering: optimizelegibility;
  font-size: 2vw;
  line-height: 1.3em; 
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);

  display:inline-block;
  overflow:hidden;
  white-space:nowrap;

  @include respond(phone) {
   
  }

  @include respond(tab-port) {
  }

  @include respond(phone) {

  }
}

.main-headline:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s forwards;
  animation-iteration-count: 1;
}

.main-headline:last-of-type {
  width:0px;
  animation: reveal 7s forwards;
  animation-iteration-count: 1;
}

.main-headline:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s forwards;
  animation-iteration-count: 1;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; opacity:0;}
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; opacity:100;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:80%;}
    80% {opacity:1;}
    100% {opacity:1;width:90%;}
}




nav ul {
  font-size: 1.25rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.875rem;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-rendering: optimizelegibility;
    letter-spacing: -0.02em;
    color: #3d444a;
    line-height: 1.2em;
    margin-bottom: 2.75rem;
  }
  
  p {
    font-family: "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;  
    width: auto;
    max-width: 780px;
    display: block;
    text-rendering: optimizelegibility;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    color: #666;
    font-size: 1.75rem;
    padding-bottom: 1.25rem;
  }


  h3.cta {
    font-family: "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;  
    color: #333;
    font-weight: 300;
    letter-spacing: -0.035em;
    text-rendering: optimizelegibility;
    font-size: 4vw;
    line-height: 1.3em;
    margin: 1rem;

    @include respond(phone) {
      font-size: 8vw;

    }
  }

  .surf {
    padding-top: 15vh;
    background:transparent;
    color: #00a699;
    font-family: "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;
    font-size: 9rem;
    font-weight: 300;
    text-rendering: optimizelegibility;
    z-index: 50;
    text-align: center;
    position: relative;

      @include respond(phone) {
        font-size: 3rem;

      }
  }